{% extends 'base.html' %}
{% load static %}

{% block content %}
<head>     
    {% comment %} <link rel="stylesheet" href="{% static 'css/about.css' %}">  {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>
 <body>
    <div class="about_credit_container">
        <div class="sub_about_1">
            <div class="about_name_1">
                <div class="about" id="website"><h1>website development</h1></div>
                <div class="aboutPara_1" id="para">
                    <p>We at networty.com believe in upgrading your business using technology. Our firm addresses
                        to deliever the best-customized results to companies of all sizes, ranging from start-ups to
                        small-medium enterprises. Our team is experts in studying all your introductory conditions of
                        product and service and creating a web design strategy on different modern technologies. Also, 
                        we're delivering end-to-end web design and progress services. We take care of everything exactly 
                        from sourcing to remote on boarding and ongoing support.
                    </p>
                </div>
                <div class="about_footer_bar" id="thankU">
                    <div class="thank"><h1>thank you</h1></div>
                </div>
            </div>
            <div class="about_images">
                <img src="{% static 'images/1.jpg' %}" alt="error">
            </div>
        </div>
        <div class="sub_about_2">
            <div class="sub_heading_2"><h1>what is our website development process?</h1></div>
            <div class="sub_about_inner">
                <div class="about_name_1" id="web_process">
                    <div class="aboutPara_1">
                        <p>
                            Gathering information and ideas: We accumulate all your aspirations
                            and targets that need to be served and understand client blueprint 
                            references and functionality of the website.
                            Research your ideas: We put a plan together and work on client 
                            information and Research for applicable content, images, videos,
                            and colour combination
                            Design & development: We make the visual companion, do a wireframing 
                            or conceptualize the user interface and relations of the website. 
                            Testing & Launch: When the site is erected, we also need to test it to 
                            make sure everything is working as aimed. Any fluctuations can also be 
                            enforced at this stage.
                            We are a customer-oriented service provider the prioritizes everything 
                            from customer preferences to strict timelines and qualities deliverables. 
                            So, no need to look around for reliable partners who are highly efficient 
                            easy to work with if you have us.
                        </p>
                    </div>
                    <div class="about_footer_bar">
                        <div class="thank"><h1>thank you</h1></div>
                    </div>
                </div>
                <div class="about_images">
                    <img src="{% static 'images/2.jpg' %}" alt="error">
                </div>
            </div>
        </div>
        <div class="sub_about_1">
            <div class="about_name_1">  
                <div class="about" class="aboutPara3" ><h1>database repository</h1></div>
                <div class="aboutPara_1">
                    <p>
                        Currently, every business is in the digital era and maintaining their data in
                        the traditional form is no longer sufficient. For industries, their data is the 
                        most crucial way to run their business effectively and efficiently. Perhaps modern 
                        technology has come into the frame that is why the huge number of data that 
                        organisation bear to deal with, the quickness at which new data is being generated or 
                        any new data that needs to be added for analyses of the performance of the company.
                        A mechanism for managing and storing digital content is called database Reposiory.
                        Storing your data digitally makes your task easier and more efficient, Simultaneously
                        the companies can reach out to an end number of people at the same time who have already
                        been registered visited your site. However, applying data repositories as part of data 
                        management is another ranking of investment that can upgrade business opinions.
                        Advantages of Digital Database repository
                        Shows you an integrated view of your business
                        improves data storage
                        Easy to communicate with a number of people
                        Filter & search according to the company's goal and objective
                        High level of innovation via looking at the records
                        Looking for an expert who can build and maintain the data repository for 
                        your company, here we are to help you maintain your data successfully.
                    </p>
                </div>
                <div class="about_footer_bar">
                    <div class="thank"><h1>thank you</h1></div>
                </div>
            </div>
            <div class="about_images">
                <img src="{% static 'images/3.jpg' %}" alt="error">
            </div>
        </div>    
    </div>
{% comment %} <div class="about_container">
    <div class="sub_about_1">
        <div class="about_name_1">
            <div class="about" id="website"><h1>website development</h1></div>
            <div class="aboutPara_1" id="para">
                <p>We at networty.com believe in upgrading your business using technology. Our firm addresses
                    to deliever the best-customized results to companies of all sizes, ranging from start-ups to
                    small-medium enterprises. Our team is experts in studying all your introductory conditions of
                    product and service and creating a web design strategy on different modern technologies. Also, 
                    we're delivering end-to-end web design and progress services. We take care of everything exactly 
                    from sourcing to remote on boarding and ongoing support.
                </p>
            </div>
            <div class="about_footer_bar" id="thankU">
                <div class="thank"><h1>thank you</h1></div>
            </div>
        </div>
        <div class="about_images">
            <img src="{% static 'images/1.jpg' %}" alt="error">
        </div>
    </div>
    <div class="sub_about_2">
        <div class="sub_heading_2"><h1>what is our website development process?</h1></div>
        <div class="sub_about_inner">
            <div class="about_name_1" id="web_process">
                <div class="aboutPara_1">
                    <p>
                        Gathering information and ideas: We accumulate all your aspirations
                        and targets that need to be served and understand client blueprint 
                        references and functionality of the website.
                        Research your ideas: We put a plan together and work on client 
                        information and Research for applicable content, images, videos,
                        and colour combination
                        Design & development: We make the visual companion, do a wireframing 
                        or conceptualize the user interface and relations of the website. 
                        Testing & Launch: When the site is erected, we also need to test it to 
                        make sure everything is working as aimed. Any fluctuations can also be 
                        enforced at this stage.
                        We are a customer-oriented service provider the prioritizes everything 
                        from customer preferences to strict timelines and qualities deliverables. 
                        So, no need to look around for reliable partners who are highly efficient 
                        easy to work with if you have us.
                    </p>
                </div>
                <div class="about_footer_bar">
                    <div class="thank"><h1>thank you</h1></div>
                </div>
            </div>
            <div class="about_images">
                <img src="{% static 'images/2.jpg' %}" alt="error">
            </div>
        </div>
    </div>
    <div class="sub_about_1">
        <div class="about_name_1">  
            <div class="about" class="aboutPara3" ><h1>database repository</h1></div>
            <div class="aboutPara_1">
                <p>
                    Currently, every business is in the digital era and maintaining their data in
                    the traditional form is no longer sufficient. For industries, their data is the 
                    most crucial way to run their business effectively and efficiently. Perhaps modern 
                    technology has come into the frame that is why the huge number of data that 
                    organisation bear to deal with, the quickness at which new data is being generated or 
                    any new data that needs to be added for analyses of the performance of the company.
                    A mechanism for managing and storing digital content is called database Reposiory.
                    Storing your data digitally makes your task easier and more efficient, Simultaneously
                    the companies can reach out to an end number of people at the same time who have already
                    been registered visited your site. However, applying data repositories as part of data 
                    management is another ranking of investment that can upgrade business opinions.
                    Advantages of Digital Database repository
                    Shows you an integrated view of your business
                    improves data storage
                    Easy to communicate with a number of people
                    Filter & search according to the company's goal and objective
                    High level of innovation via looking at the records
                    Looking for an expert who can build and maintain the data repository for 
                    your company, here we are to help you maintain your data successfully.
                </p>
            </div>
            <div class="about_footer_bar">
                <div class="thank"><h1>thank you</h1></div>
            </div>
        </div>
        <div class="about_images">
            <img src="{% static 'images/3.jpg' %}" alt="error">
        </div>
    </div>
</div> {% endcomment %}

  </body>
{% endblock content %}